<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Alunos</h1>
    <form action="/edit" method="post">
        <label>id:</label>
        <input type="text" name="txtid" value="<%=result[0].id%>">
        <label>name:</label>
        <input type="text"  name="txtname" value="<%=result[0].name%>">
        <label>color:</label>
        <input type="text"  name="txtcolor" value="<%=result[0].color%>">
        <label>price:</label>
        <input type="text" name="txtprice" value="<%=result[0].price%>">
    </form>
</body>
</html>